In [64]:
from sklearn import tree
import pandas as pd
import os

In [65]:
loan = pd.read_csv("DataSets/clean_loan_data_2017.csv")

/Users/user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
loan.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                     int64
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
                                               ...
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 145, dtype: object

In [67]:
# for loans in loan:
#     if loans["loan_status"] == "Current":
#         result = 0
#     elif loans["loan_status"] == "Charged Off":
#         result = 1
#     elif loans["loan_status"] == "Fully Paid":
#         result = 2
#     elif loans["loan_status"] == "In Grace Period":
#         result = 3
#     elif loans["loan_status"] == "Late (16-30 days)":
#         result = 4
#     elif loans["loan_status"] == "Late (31-120 days)":
#         result = 5

In [68]:
target = loan["loan_status"]
target_names = ["current", "charged off","fully paid","in grace period","late (16-30 days)", "late (31-120 days)"]

In [73]:
data = loan.drop(["funded_amnt_inv", "dti", "inq_last_6mths", "open_acc", "pub_rec", "revol_bal", "out_prncp_inv", "total_rec_prncp", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "collections_12_mths_ex_med", "policy_code", "tot_coll_amt", "open_acc_6m", "open_act_il", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "all_util", "total_rev_hi_lim", "total_cu_tl", "inq_last_12m", "chargeoff_within_12_mths", "mo_sin_old_il_acct", "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc", "mths_since_recent_bc", "mths_since_recent_inq", "num_actv_bc_tl", "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl", "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0", "num_sats", "percent_bc_gt_75", "pub_rec_bankruptcies", "tax_liens", "total_bc_limit", "total_il_high_credit_limit", "orig_projected_additional_accrued_interest","last_pymnt_d","next_pymnt_d",
"grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "earliest_cr_line", "mths_since_last_delinq", "mths_since_last_record", "revol_util", "initial_list_status", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d", "mths_since_last_major_derog", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "bc_open_to_buy", "bc_util", "mths_since_recent_bc_dlq", "mths_since_recent_revol_delinq", "num_tl_120dpd_2m", "revol_bal_joint", "sec_app_earliest_cr_line", "sec_app_inq_last_6mths", "sec_app_mort_acc", "sec_app_open_acc", "sec_app_revol_util", "sec_app_open_act_il", "sec_app_num_rev_accts", "sec_app_chargeoff_within_12_mths", "sec_app_collections_12_mths_ex_med", "sec_app_mths_since_last_major_derog", "hardship_flag", "hardship_type", "hardship_reason", "hardship_status", "deferral_term", "hardship_amount", "hardship_start_date", "hardship_end_date", "payment_plan_start_date", "hardship_length", "hardship_dpd", "hardship_loan_status", "hardship_payoff_balance_amount", "hardship_last_payment_amount", "disbursement_method", "debt_settlement_flag", "debt_settlement_flag_date", "settlement_status", "settlement_date", "settlement_amount", "settlement_percentage", "settlement_term","int_rate","term","id","member_id"],axis=1)

feature_names = data.columns

data.head()

,loan_amnt,funded_amnt,installment,annual_inc,delinq_2yrs,total_acc,out_prncp,total_pymnt,total_pymnt_inv,total_rec_int,...,acc_open_past_24mths,avg_cur_bal,delinq_amnt,num_accts_ever_120_pd,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort
0,11875,11875,391.26,55000.0,0,28,5444.16,8201.37000,8201.37,1770.53,...,4,17223.0,0,0,0,0,0,96.4,319205,61637
1,1500,1500,45.18,67000.0,1,16,653.97,947.89000,947.89,101.86,...,1,28493.0,0,1,0,1,0,93.8,163700,10658
2,35000,35000,1037.38,114000.0,0,31,0.00,36875.07892,36875.08,1875.08,...,2,24630.0,0,4,0,0,1,87.1,424707,81780
3,12000,12000,370.48,56000.0,0,28,0.00,12773.27240,12773.27,773.27,...,4,10710.0,0,0,0,0,0,100.0,172161,21540
4,14000,14000,440.27,65000.0,0,8,6254.62,9232.85000,9232.85,1487.47,...,1,33958.0,0,0,0,0,1,100.0,197948,20875

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [75]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [63]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9708955223880597

In [64]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.42464851896429023, 'out_prncp'),
 (0.2605902941714844, 'last_pymnt_amnt'),
 (0.05465377833144456, 'total_pymnt'),
 (0.054271573554134554, 'total_rec_int'),
 (0.052490065297711865, 'total_pymnt_inv'),
 (0.026355686350811328, 'installment'),
 (0.021123521922137258, 'funded_amnt'),
 (0.01964926093232202, 'loan_amnt'),
 (0.00942962573012054, 'avg_cur_bal'),
 (0.009149263388336454, 'tot_hi_cred_lim'),
 (0.009117706271052987, 'annual_inc'),
 (0.008193871606297736, 'total_bal_ex_mort'),
 (0.008062557291542467, 'tot_cur_bal'),
 (0.007981404459171126, 'max_bal_bc'),
 (0.007454574782093314, 'total_acc'),
 (0.006906443135387643, 'acc_open_past_24mths'),
 (0.006624008703068823, 'num_tl_op_past_12m'),
 (0.005033883678394984, 'inq_fi'),
 (0.0036866312323970717, 'pct_tl_nvr_dlq'),
 (0.0020271010587587846, 'num_accts_ever_120_pd'),
 (0.001695111379082941, 'delinq_2yrs'),
 (0.0006925301413377871, 'num_tl_90g_dpd_24m'),
 (9.233428187193692e-05, 'delinq_amnt'),
 (6.587904879783868e-05, 'acc_now_delinq'),
 (4.374287951633466e-06, 'num_tl_30dpd')]

In [65]:
predictions = rf.predict(X_test)

In [66]:
predictions

array([0, 2, 0, ..., 2, 0, 0])

In [69]:
df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [70]:
# df.to_csv("output.csv", index=False)

In [49]:
df

      Prediction  Actual
0              0       0
1              2       2
2              0       0
3              0       0
4              0       0
5              1       1
6              0       0
7              0       0
8              1       1
9              0       0
10             0       0
11             0       0
12             2       2
13             0       0
14             0       0
15             0       0
16             2       2
17             2       2
18             0       0
19             0       0
20             0       0
21             0       3
22             0       0
23             2       2
24             2       2
25             0       0
26             0       0
27             0       0
28             0       0
29             0       3
...          ...     ...
1310           0       5
1311           0       0
1312           0       0
1313           0       0
1314           0       0
1315           2       2
1316           1       1
1317           0       0
1318           2       2
1319           0       0
1320           2       2
1321           0       0
1322           0       0
1323           0       0
1324           0       0
1325           0       0
1326           2       2
1327           2       2
1328           1       1
1329           0       0
1330           0       0
1331           2       2
1332           2       2
1333           0       0
1334           0       0
1335           2       2
1336           2       2
1337           2       2
1338           0       0
1339           0       0

[1340 rows x 2 columns]