In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
loan = pd.read_csv("DataSets/clean_loan_data_2017.csv", low_memory=False)

In [3]:
# for loans in loan:
#     if loans["loan_status"] == "Current":
#         result = 0
#     elif loans["loan_status"] == "Charged Off":
#         result = 1
#     elif loans["loan_status"] == "Fully Paid":
#         result = 2
#     elif loans["loan_status"] == "In Grace Period":
#         result = 3
#     elif loans["loan_status"] == "Late (16-30 days)":
#         result = 4
#     elif loans["loan_status"] == "Late (31-120 days)":
#         result = 5

In [4]:
target = loan["loan_status"]
target_names = ["current", "charged off","fully paid","in grace period","late (16-30 days)", "late (31-120 days)"]

In [22]:
data = loan.drop(["funded_amnt_inv", "dti", "inq_last_6mths", "open_acc", "pub_rec", "revol_bal", "out_prncp_inv", "total_rec_prncp", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "collections_12_mths_ex_med", "policy_code", "tot_coll_amt", "open_acc_6m", "open_act_il", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "total_rev_hi_lim", "total_cu_tl", "inq_last_12m", "chargeoff_within_12_mths", "mo_sin_old_il_acct", "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc", "mths_since_recent_bc", "mths_since_recent_inq", "num_actv_bc_tl", "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl", "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0", "num_sats", "percent_bc_gt_75", "pub_rec_bankruptcies", "tax_liens", "total_bc_limit", "total_il_high_credit_limit", "orig_projected_additional_accrued_interest","last_pymnt_d","next_pymnt_d",
"grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "earliest_cr_line", "mths_since_last_delinq", "mths_since_last_record", "revol_util", "initial_list_status", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d", "mths_since_last_major_derog", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "bc_open_to_buy", "bc_util", "mths_since_recent_bc_dlq", "mths_since_recent_revol_delinq", "num_tl_120dpd_2m", "revol_bal_joint", "sec_app_earliest_cr_line", "sec_app_inq_last_6mths", "sec_app_mort_acc", "sec_app_open_acc", "sec_app_revol_util", "sec_app_open_act_il", "sec_app_num_rev_accts", "sec_app_chargeoff_within_12_mths", "sec_app_collections_12_mths_ex_med", "sec_app_mths_since_last_major_derog", "hardship_flag", "hardship_type", "hardship_reason", "hardship_status", "deferral_term", 
"hardship_amount", "hardship_start_date", "hardship_end_date", "payment_plan_start_date", "hardship_length", "hardship_dpd", "hardship_loan_status", "hardship_payoff_balance_amount", "hardship_last_payment_amount", "disbursement_method", "debt_settlement_flag", "debt_settlement_flag_date", "settlement_status", "settlement_date", "settlement_amount", "settlement_percentage", "settlement_term","int_rate","term","id","member_id","acc_now_delinq",
"num_tl_30dpd","num_tl_90g_dpd_24m","delinq_2yrs","num_accts_ever_120_pd","inq_fi","num_tl_op_past_12m","pct_tl_nvr_dlq","acc_open_past_24mths","total_acc","tot_cur_bal","max_bal_bc","avg_cur_bal","total_bal_ex_mort","tot_hi_cred_lim","funded_amnt","installment","total_rec_int","total_pymnt_inv","total_pymnt","all_util"],axis=1)

feature_names = data.columns


data.isnull().any()

loan_amnt          False
annual_inc         False
out_prncp          False
last_pymnt_amnt    False
delinq_amnt        False
dtype: bool

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [24]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9342129715666233

In [25]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9604162795019513

In [26]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5385961509722751, 'out_prncp'),
 (0.38715773216442295, 'last_pymnt_amnt'),
 (0.03804340435958417, 'loan_amnt'),
 (0.03568444968728927, 'annual_inc'),
 (0.000518262816428563, 'delinq_amnt')]

In [10]:
predictions = rf.predict(X_test)

In [11]:
predictions

array([0, 2, 0, ..., 1, 2, 2])

In [12]:
df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [13]:
# df.to_csv("output.csv", index=False)

In [14]:
df.head()

   Prediction  Actual
0           0       0
1           2       2
2           0       0
3           2       2
4           1       1

In [15]:
loan2018 = pd.read_csv("DataSets/clean_loan_data_2018.csv", low_memory=False)

In [16]:
X_test2018 = loan.drop(["funded_amnt_inv", "dti", "inq_last_6mths", "open_acc", "pub_rec", "revol_bal", "out_prncp_inv", "total_rec_prncp", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "collections_12_mths_ex_med", "policy_code", "tot_coll_amt", "open_acc_6m", "open_act_il", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "all_util", "total_rev_hi_lim", "total_cu_tl", "inq_last_12m", "chargeoff_within_12_mths", "mo_sin_old_il_acct", "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc", "mths_since_recent_bc", "mths_since_recent_inq", "num_actv_bc_tl", "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl", "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0", "num_sats", "percent_bc_gt_75", "pub_rec_bankruptcies", "tax_liens", "total_bc_limit", "total_il_high_credit_limit", "orig_projected_additional_accrued_interest","last_pymnt_d","next_pymnt_d",
"grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "earliest_cr_line", "mths_since_last_delinq", "mths_since_last_record", "revol_util", "initial_list_status", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d", "mths_since_last_major_derog", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "bc_open_to_buy", "bc_util", "mths_since_recent_bc_dlq", "mths_since_recent_revol_delinq", "num_tl_120dpd_2m", "revol_bal_joint", "sec_app_earliest_cr_line", "sec_app_inq_last_6mths", "sec_app_mort_acc", "sec_app_open_acc", "sec_app_revol_util", "sec_app_open_act_il", "sec_app_num_rev_accts", "sec_app_chargeoff_within_12_mths", "sec_app_collections_12_mths_ex_med", "sec_app_mths_since_last_major_derog", "hardship_flag", "hardship_type", "hardship_reason", "hardship_status", "deferral_term", 
"hardship_amount", "hardship_start_date", "hardship_end_date", "payment_plan_start_date", "hardship_length", "hardship_dpd", "hardship_loan_status", "hardship_payoff_balance_amount", "hardship_last_payment_amount", "disbursement_method", "debt_settlement_flag", "debt_settlement_flag_date", "settlement_status", "settlement_date", "settlement_amount", "settlement_percentage", "settlement_term","int_rate","term","id","member_id","acc_now_delinq",
"delinq_amnt","num_tl_30dpd","num_tl_90g_dpd_24m","delinq_2yrs","num_accts_ever_120_pd","inq_fi","num_tl_op_past_12m","pct_tl_nvr_dlq","acc_open_past_24mths","total_acc","tot_cur_bal","max_bal_bc","avg_cur_bal","total_bal_ex_mort","tot_hi_cred_lim","funded_amnt","installment","total_rec_int","total_pymnt_inv","total_pymnt"],axis=1)
y_test2018 = loan["loan_status"]

In [17]:
predictions2018 = rf.predict(X_test2018)

In [20]:
df2018 = pd.DataFrame({"Prediction": predictions2018, "Actual": y_test2018}).reset_index(drop=True)
df2018.head(100)

    Prediction  Actual
0            0       0
1            0       0
2            2       2
3            2       2
4            0       0
5            0       0
6            0       0
7            2       2
8            0       0
9            2       2
10           2       2
11           1       1
12           0       0
13           0       0
14           2       2
15           2       2
16           2       2
17           2       2
18           0       0
19           0       0
20           2       2
21           2       2
22           0       0
23           0       0
24           0       0
25           0       0
26           0       0
27           2       2
28           0       0
29           2       2
..         ...     ...
70           0       0
71           0       0
72           0       0
73           5       5
74           1       1
75           1       1
76           0       0
77           0       0
78           2       2
79           0       0
80           2       2
81           1       1
82           0       0
83           0       0
84           2       2
85           0       0
86           0       0
87           2       2
88           0       0
89           2       2
90           0       0
91           0       0
92           2       2
93           0       0
94           0       0
95           2       2
96           0       0
97           2       2
98           2       2
99           2       2

[100 rows x 2 columns]

In [19]:
rf.score(X_test2018, y_test2018)

0.9900104541758624