In [45]:
from sklearn import tree
import pandas as pd
import os

In [46]:
loan = pd.read_csv("DataSets/clean_loan_data_2017.csv")

/Users/user/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (112) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
loan.dtypes

id                                            float64
member_id                                     float64
loan_amnt                                       int64
funded_amnt                                     int64
funded_amnt_inv                                 int64
term                                           object
int_rate                                       object
installment                                   float64
grade                                          object
sub_grade                                      object
emp_title                                      object
emp_length                                     object
home_ownership                                 object
annual_inc                                    float64
verification_status                            object
issue_d                                        object
loan_status                                     int64
pymnt_plan                                     object
url                                           float64
desc                                          float64
purpose                                        object
title                                          object
zip_code                                       object
addr_state                                     object
dti                                           float64
delinq_2yrs                                     int64
earliest_cr_line                               object
inq_last_6mths                                  int64
mths_since_last_delinq                        float64
mths_since_last_record                        float64
                                               ...
sec_app_open_acc                              float64
sec_app_revol_util                            float64
sec_app_open_act_il                           float64
sec_app_num_rev_accts                         float64
sec_app_chargeoff_within_12_mths              float64
sec_app_collections_12_mths_ex_med            float64
sec_app_mths_since_last_major_derog           float64
hardship_flag                                  object
hardship_type                                  object
hardship_reason                                object
hardship_status                                object
deferral_term                                 float64
hardship_amount                               float64
hardship_start_date                            object
hardship_end_date                              object
payment_plan_start_date                        object
hardship_length                               float64
hardship_dpd                                  float64
hardship_loan_status                           object
orig_projected_additional_accrued_interest    float64
hardship_payoff_balance_amount                float64
hardship_last_payment_amount                  float64
disbursement_method                            object
debt_settlement_flag                           object
debt_settlement_flag_date                      object
settlement_status                              object
settlement_date                                object
settlement_amount                             float64
settlement_percentage                         float64
settlement_term                               float64
Length: 145, dtype: object

In [48]:
# for loans in loan:
#     if loans["loan_status"] == "Current":
#         result = 0
#     elif loans["loan_status"] == "Charged Off":
#         result = 1
#     elif loans["loan_status"] == "Fully Paid":
#         result = 2
#     elif loans["loan_status"] == "In Grace Period":
#         result = 3
#     elif loans["loan_status"] == "Late (16-30 days)":
#         result = 4
#     elif loans["loan_status"] == "Late (31-120 days)":
#         result = 5

In [49]:
target = loan["loan_status"]
target_names = ["current", "charged off","fully paid","in grace period","late (16-30 days)", "late (31-120 days)"]

In [62]:
data = loan.drop(["funded_amnt_inv", "dti", "inq_last_6mths", "open_acc", "pub_rec", "revol_bal", "out_prncp_inv", "total_rec_prncp", "total_rec_late_fee", "recoveries", "collection_recovery_fee", "collections_12_mths_ex_med", "policy_code", "tot_coll_amt", "open_acc_6m", "open_act_il", "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il", "il_util", "open_rv_12m", "open_rv_24m", "all_util", "total_rev_hi_lim", "total_cu_tl", "inq_last_12m", "chargeoff_within_12_mths", "mo_sin_old_il_acct", "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc", "mths_since_recent_bc", "mths_since_recent_inq", "num_actv_bc_tl", "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl", "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0", "num_sats", "percent_bc_gt_75", "pub_rec_bankruptcies", "tax_liens", "total_bc_limit", "total_il_high_credit_limit", "orig_projected_additional_accrued_interest","last_pymnt_d","next_pymnt_d",
"grade", "sub_grade", "emp_title", "emp_length", "home_ownership", "verification_status", "issue_d", "loan_status", "pymnt_plan", "url", "desc", "purpose", "title", "zip_code", "addr_state", "earliest_cr_line", "mths_since_last_delinq", "mths_since_last_record", "revol_util", "initial_list_status", "last_pymnt_d", "next_pymnt_d", "last_credit_pull_d", "mths_since_last_major_derog", "application_type", "annual_inc_joint", "dti_joint", "verification_status_joint", "bc_open_to_buy", "bc_util", "mths_since_recent_bc_dlq", "mths_since_recent_revol_delinq", "num_tl_120dpd_2m", "revol_bal_joint", "sec_app_earliest_cr_line", "sec_app_inq_last_6mths", "sec_app_mort_acc", "sec_app_open_acc", "sec_app_revol_util", "sec_app_open_act_il", "sec_app_num_rev_accts", "sec_app_chargeoff_within_12_mths", "sec_app_collections_12_mths_ex_med", "sec_app_mths_since_last_major_derog", "hardship_flag", "hardship_type", "hardship_reason", "hardship_status", "deferral_term", 
"hardship_amount", "hardship_start_date", "hardship_end_date", "payment_plan_start_date", "hardship_length", "hardship_dpd", "hardship_loan_status", "hardship_payoff_balance_amount", "hardship_last_payment_amount", "disbursement_method", "debt_settlement_flag", "debt_settlement_flag_date", "settlement_status", "settlement_date", "settlement_amount", "settlement_percentage", "settlement_term","int_rate","term","id","member_id","acc_now_delinq",
"delinq_amnt","num_tl_30dpd","num_tl_90g_dpd_24m","delinq_2yrs","num_accts_ever_120_pd","inq_fi","num_tl_op_past_12m","pct_tl_nvr_dlq","acc_open_past_24mths","total_acc","tot_cur_bal","max_bal_bc","avg_cur_bal","total_bal_ex_mort","annual_inc","tot_hi_cred_lim","funded_amnt","loan_amnt","installment","total_rec_int","total_pymnt_inv","total_pymnt"],axis=1)

feature_names = data.columns


data.isnull().any()

out_prncp          False
last_pymnt_amnt    False
dtype: bool

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [64]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9262218918416651

In [65]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9390447872142724

In [66]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.5371027099704154, 'out_prncp'), (0.4628972900295846, 'last_pymnt_amnt')]

In [67]:
predictions = rf.predict(X_test)

In [68]:
predictions

array([0, 2, 0, ..., 1, 2, 1])

In [69]:
df = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [70]:
# df.to_csv("output.csv", index=False)

In [71]:
df

       Prediction  Actual
0               0       0
1               2       2
2               0       0
3               2       2
4               1       1
5               0       0
6               0       0
7               2       2
8               0       0
9               0       0
10              0       0
11              0       0
12              2       2
13              0       0
14              0       0
15              0       0
16              0       0
17              2       2
18              0       0
19              2       2
20              0       0
21              0       0
22              0       0
23              0       0
24              1       1
25              1       1
26              0       0
27              0       0
28              0       0
29              0       0
...           ...     ...
10732           2       2
10733           0       0
10734           0       0
10735           0       0
10736           0       0
10737           0       0
10738           0       0
10739           0       0
10740           2       2
10741           0       0
10742           0       0
10743           0       0
10744           0       0
10745           0       0
10746           0       0
10747           0       0
10748           0       0
10749           0       0
10750           1       1
10751           2       2
10752           0       0
10753           0       0
10754           0       0
10755           0       0
10756           2       2
10757           2       2
10758           0       0
10759           1       1
10760           2       2
10761           1       2

[10762 rows x 2 columns]